{$WAREBOXES_SITE_ADDRESS:http://127.0.0.1} {
	encode zstd gzip

	reverse_proxy 127.0.0.1:8080

	handle_errors {
		root * /opt/wareboxes/bootstrap/site
		rewrite * /index.html
		file_server
	}

	header {
		Referrer-Policy strict-origin-when-cross-origin
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
	}
}
